html body {
  background-image: none !important;
  background-color: #050807 !important;
}

html body:before {
  opacity: 0 !important;
}

html body:after {
  background-image:
    url("/quartz-test-bed/static/trees-row-front.svg"),
    url("/quartz-test-bed/static/trees-row-mid.svg"),
    url("/quartz-test-bed/static/trees-row-far.svg"),
    url("/quartz-test-bed/static/stars-twinkle.svg") !important;
  background-repeat: repeat-x !important;
  background-size: auto 100% !important;
}
